<div id="new_article_div">
  <%= form_for(@article) do |f| %>
    <div class="form_div">
      <br>
      <%= f.text_field :article_title, id:"articleTitle", placeholder:"タイトルを入力してください" %>
    </div>
    <div class="form_div">
      <br>
      <div id="buttonArea" class="flexbox">
        <div id="h1button" class="addTagButton text_center_box">h1</div>
        <div id="h2button" class="addTagButton text_center_box">h2</div>
        <div id="h3button" class="addTagButton text_center_box">h3</div>
        <div id="broadbutton" class="addTagButton text_center_box">B</div>
      </div>
      <%= f.text_area :article_data, id:"articleData", rows:"50", cols:"100", placeholder:"本文を入力してください・・・" %>
    </div>
    <%= f.submit "投稿", id:"newArticleButton" %>
  <%end%>
</div>
