<div id="topLogo">
    ロゴ画像
</div>

<div class="flexbox">
    <div id="mainContent">
        <h2>新着記事一覧</h2>
        <div id="articleList">
            <% @articles.each do |a| %>
                <a href="/articles/<%= a.id.to_s %>" >
                    <div class="article common_border">
                        <h2 class="article_title"><%= a.article_title.to_s %></h2>
                        <%= a.updated_at.to_s %>
                    </div>
                </a>
            <% end %>
        </div>
    </div>
    <div id="sideber">
        サイドバー
    </div>
</div>