/*
common style
*/
body{
  /* ブラウザcssをリセット */
  margin: 0px;
  background-color:#e0e0e0;
}

.common_border{
    border: solid gray 2px;
    border-radius: 20px;
}

.article_border{
  border-top: solid gray 2px;
}

.flexbox{
    display: flex;
}

/*
header
*/
#header{
    height: 100px;
    background-color: #0066a8;
}

.header-img-element{
  height: 100px;
  padding: 10px;
  float: left;
}

.header-element{
  height:100px;
  float:none;
}

.head-logo{
  height: calc(100% - 20px);

}


/*
footer
*/
#footer{
    height: 100px;
    background-color: #888888;
}

/*
homepage style
*/
#topLogo{
    height: 200px;
    background-color: lightgreen;
}

#mainContent{
    height: 1000px;
    width: 75%;
    background-color: white;
}

#sideber{
    width: 25%;
}

.article{
    background-color: white;
    margin: 10px 10px 0px 10px;
    padding: 5px 0px 5px 20px;
}

.article_title{
    margin: 5px 0px 5px 10px;
}

/*
login,sign_up,reset_pass style
*/
.field{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: left;
}

#login_form{
    text-align: center;
}

#user_create{
    text-align: center;
}

#new_user{
    text-align: center;
}
