/*
common style
*/
body{
  /* ブラウザcssをリセット */
  margin: 0px;
  background-color:#e0e0e0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto Condensed', 'M PLUS 1p', sans-serif;
}

a{
  text-decoration: none !important;
}

.common_border{
    border: solid gray 2px;
    border-radius: 20px;
}


.common_bg_color{
    background-color: #0066a8;
}

.article_border{
  border-top: solid gray 1px;
}

.flexbox{
    display: flex;
}

.form_div{
    margin-top: 10px;
    width: 100%;
}

.form_submit{
    background-color: #0066a8;
    color: white;
    width: 100%;
    height: 50px;
}

/*
header
*/
#header{
    height: 56px;
    background-color: #0066a8;
}

.header-img-element{
  height: 56px;
  padding: 5px;
  float: left;
}

.header-element{
  height:560px;
  float:none;
}

.head-logo{
  height: calc(100% - 10px);
}


/*
footer
*/
#footer{
    height: 100px;
    background-color: #888888;
}

/*
homepage style
*/
#topLogo{
    height: 200px;
    background-color: lightgreen;
}

#mainContent{
    width: calc(100% - 20px);
    background-color: white;
    margin:0 10px 20px 10px;
}

#sideber{
    width: 25%;
}

.article{
    background-color: white;
    padding: 16px;
    display: flex;

}

.article_title{
    margin: 5px 0px 5px 0px;
    color: black;
    font-weight: bold;
}

.home-articleicon{
  height: 100%;
  width: 100%;
}

.tr-item{
  height: 60px;
  width:60px;
}

.tr-item-body{
  margin-left: 20px;
}

.home-icon{
  height:30px;
  width:30px;
  margin: 0 10px 0 10px;
}

.headline{
  font-size:1.5rem;
  display: flex;
  margin-left: 20px;
  height:30px;
  padding:5px 0 5px 0;
}

/*
login,sign_up,reset_pass style
*/
.field{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: left;
}

#login_form{
    text-align: center;
}

#user_create{
    text-align: center;
}

#new_user{
    text-align: center;
}

/*
artcile style
*/
#new_article_div{
    width: 700px;
}

#articleData{
    width: 100%;
}

#buttonArea{
    width: 100%;
}

.addTagButton{
    width: 100px;
    height: 40px;
    margin: 0 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article-main{
  width:80%;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.article-header-info{
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
}

.author-image{
  height: 40px;
  width:40px;
}

.article-title{
  font-size:3rem;
  font-weight: bold;
}

.author-name{
  font-size:1.8rem;
  margin-left: 10px;
}

.article-header-time{
  color:#999;
  font-size:1.2rem;
  margin-left: 10px;
}

.article-button-container{
  width:100%;
  margin: 40px 0 20px 0;
}

.article-like-button{
  height:44px;
  width:65%;
  border:2px solid #0066a8;
  color: #0066a8;
  background-color: white;
  font-size: 1.5rem;
  margin-right: 5%;
  float: left;

}

.article-user-button{
  height: 44px;
  width:30%;
  border:2px solid black;
  color:black;
  font-size:1.5rem;
  background-color: white;
}

.liked{
  color: white;
  background-color:#0066a8;
}

.writer-image{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
