/*
common style
*/
body{
  /* ブラウザcssをリセット */
  margin: 0px;
  background-color:#e0e0e0;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
}

a{
  text-decoration: none !important;
}

.common_border{
    border: solid gray 2px;
    border-radius: 20px;
}

.article_border{
  border-top: solid gray 1px;
}

.flexbox{
    display: flex;
}

/*
header
*/
#header{
    height: 56px;
    background-color: #0066a8;
}

.header-img-element{
  height: 56px;
  padding: 5px;
  float: left;
}

.header-element{
  height:560px;
  float:none;
}

.head-logo{
  height: calc(100% - 10px);
}


/*
footer
*/
#footer{
    height: 100px;
    background-color: #888888;
}

/*
homepage style
*/
#topLogo{
    height: 200px;
    background-color: lightgreen;
}

#mainContent{
    width: calc(100% - 20px)%;
    background-color: white;
    margin:0 10px 20px 10px;
}

#sideber{
    width: 25%;
}

.article{
    background-color: white;
    padding: 16px;
    display: flex;

}

.article_title{
    margin: 5px 0px 5px 0px;
    color: black;
    font-weight: bold;
}

.home-articleicon{
  height: 100%;
  width: 100%;
}

.tr-item{
  height: 60px;
  width:60px;
}

.tr-item-body{
  margin-left: 20px;
}

.home-icon{
  height:30px;
  width:30px;
  margin: 0 10px 0 10px;
}

.headline{
  font-size:1.5rem;
  display: flex;
  margin-left: 20px;
  height:30px;
  padding:5px 0 5px 0;
}

/*
login,sign_up,reset_pass style
*/
.field{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: left;
}

#login_form{
    text-align: center;
}

#user_create{
    text-align: center;
}

#new_user{
    text-align: center;
}
